* {
    margin: 0;
    padding: 0;
}

.main {
    border-radius: 15px;
    width: 320px;
    background-color: #fff;
    border: 1px solid rgb(179, 168, 168);
    margin: 60px;
}

.main img {
    height: 200px;
    border-radius: 10px;
    margin-left: 9px;
    margin-top: 9px;
    margin-bottom: 17px;
}

body {
    background-color: #bdb8b8b7;
}

.butt {
    margin-left: 29px;
    margin-bottom: 17px;
}

.butt button {
    border: 0.5px solid rgb(179, 168, 168);
    background-color: white;
    border-radius: 10px;
    padding: 4px 9px;
    cursor: pointer;
    color: rgb(95, 95, 95);
}

.heading {
    margin-left: -9px;
}

.heading h1 {
    margin: 15px;
    margin-left: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    line-height: 19px;
    margin-top: 10px
}

.more {
    margin: 40px;
    margin-left: 80px;
}

.more a {
    background-color: #c1e4f5;
    padding: 8px 10px;
    border-radius: 45px;
    text-decoration: none;
    color: rgb(0, 119, 255);
    font-weight: 850;
}